* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    background-image: url('./images/big-potter.png');
    background-size: cover;
    background-color: #151A26;
    background-repeat: no-repeat;
    background-position: center top;
}
.movie-card-discription {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: calc(14.3vw - 32.02px);
    padding-right: calc(14.4vw - 32.5px);
}
.ava-movie-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ava-movie-card-img-info{
    display: flex;
    flex-direction: row;
    gap: 20px;   
}
.ava-movie-card-img-info img{
    width: calc(10.8vw + 195.2px);
    height: calc(15.5vw + 260.2px);
    border-radius: 10px;
}